**/train_labels*.csv
**/validation_labels*.csv
**/test_labels*.csv
**/*_labels.csv
**/dados_espanhol.csv
**/dados_portugues.csv
**/dados_espanhol_balanceado.csv
gerar_csvs_idiomas.py
**/venv/
**/__pycache__/
**/.DS_Store